force-app/unpackaged/flows/WhyMinded_Email_to_Case_Handler_DO_NOT_DELETE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_to_WhyMinded_E2C_for_Feature</name>
        <label>Client to WhyMinded E2C for Feature</label>
        <locationX>1643</locationX>
        <locationY>377</locationY>
        <actionName>wmc__Salesforce_Feature__c.Client_to_WhyMinded_E2C_for_Feature</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCreatedSalesforceFeatureRecordID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_to_WhyMinded_E2C_for_Modification</name>
        <label>Client to WhyMinded E2C for Modification</label>
        <locationX>511</locationX>
        <locationY>732</locationY>
        <actionName>wmc__Salesforce_Modification_Request__c.Client_to_WhyMinded_E2C_for_Modification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCreatedModificationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_to_WhyMinded_E2C_for_Modification_0</name>
        <label>Client to WhyMinded E2C for Modification</label>
        <locationX>106</locationX>
        <locationY>961</locationY>
        <actionName>wmc__Salesforce_Modification_Request__c.Client_to_WhyMinded_E2C_for_Modification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varModificationIDfromPB</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_to_WhyMinded_E2C_for_Question</name>
        <label>Client to WhyMinded E2C for Question</label>
        <locationX>917</locationX>
        <locationY>492</locationY>
        <actionName>wmc__Salesforce_Question__c.Client_to_WhyMinded_E2C_for_Question</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCreatedSalesforceQuestionRecordID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_to_WhyMinded_E2C_for_Requirement</name>
        <label>Client to WhyMinded E2C for Requirement</label>
        <locationX>1082</locationX>
        <locationY>644</locationY>
        <actionName>wmc__Salesforce_Requirement__c.Client_to_WhyMinded_E2C_for_Requirement</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCreatedSalesforceRequirementRecordID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_to_WhyMinded_E2C_for_Response_to_Question</name>
        <label>Client to WhyMinded E2C for Response to Question</label>
        <locationX>447</locationX>
        <locationY>149</locationY>
        <actionName>wmc__Salesforce_Question__c.Client_to_WhyMinded_E2C_for_Response_to_Question</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuestionIDfromPB</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_WM_Requirement_Variable_to_Update_SF_Modification_before_Email</name>
        <label>Assign WM Requirement Variable to Update SF Modification before Email</label>
        <locationX>104</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>varWhyMindedProjectTaskID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Feature_s_WM_ID.WhyMinded_ID_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Modification_s_Requirement_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WM_Requirement_Variable_to_Update_SF_Modification_before_Email_0</name>
        <label>Assign WM Requirement Variable to Update SF Modification before Email</label>
        <locationX>50</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>varWhyMindedRequirementID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requirement_s_WM_ID.WhyMinded_ID_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Modification_with_WhyMinded_Feature_and_Project_Task_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Purpose_String_from_PB</name>
        <label>Purpose String from PB</label>
        <locationX>1155</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Generated_Modification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Generated_Modification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Modification_s_Feature_ID</targetReference>
            </connector>
            <label>Client_Generated_Modification</label>
        </rules>
        <rules>
            <name>Delete_Feature_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Feature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeleteClientFeature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Feature</targetReference>
            </connector>
            <label>Delete Feature from Why Minded</label>
        </rules>
        <rules>
            <name>Edit_Feature_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Feature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClientFeatureID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Feature</targetReference>
            </connector>
            <label>Edit Feature from Why Minded</label>
        </rules>
        <rules>
            <name>Create_Feature_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Feature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClientFeatureID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Feature_from_Why_Minded</targetReference>
            </connector>
            <label>Create Feature from Why Minded</label>
        </rules>
        <rules>
            <name>Delete_Requirement_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Requirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeleteClientRequirement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Requirement</targetReference>
            </connector>
            <label>Delete Requirement from Why Minded</label>
        </rules>
        <rules>
            <name>Edit_Requirement_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Requirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequirementIDfromPB</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_Requirement</targetReference>
            </connector>
            <label>Edit Requirement from Why Minded</label>
        </rules>
        <rules>
            <name>Create_Requirement_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Requirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequirementIDfromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Requirement_from_Why_Minded</targetReference>
            </connector>
            <label>Create Requirement from Why Minded</label>
        </rules>
        <rules>
            <name>Edit_Question_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClientQuestionIDfromPB</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Question_from_Why_Minded</targetReference>
            </connector>
            <label>Edit Question from Why Minded</label>
        </rules>
        <rules>
            <name>Create_Question_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClientQuestionIDfromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Question_from_Why_Minded</targetReference>
            </connector>
            <label>Create Question from Why Minded</label>
        </rules>
        <rules>
            <name>Send_Question_Response_to_WhyMinded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send_Response_to_Why_Minded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_to_WhyMinded_E2C_for_Response_to_Question</targetReference>
            </connector>
            <label>Send Question Response to WhyMinded</label>
        </rules>
        <rules>
            <name>Create_Modification_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Modification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varModificationIDfromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Salesforce_Modification</targetReference>
            </connector>
            <label>Create Modification from Why Minded</label>
        </rules>
        <rules>
            <name>Edit_Modification_from_Why_Minded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Edit_Modification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varModificationIDfromPB</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Modification</targetReference>
            </connector>
            <label>Edit Modification from Why Minded</label>
        </rules>
        <rules>
            <name>Edited_Modification_Key_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edited_Modification_Key_Fields</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Modification_s_Feature_ID</targetReference>
            </connector>
            <label>Edited_Modification_Key_Fields</label>
        </rules>
        <rules>
            <name>WhyMinded_Generated_Modification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPurposeStringFromPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WM_Generated_Modification</stringValue>
                </rightValue>
            </conditions>
            <label>WhyMinded Generated Modification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requirement_ID_Found</name>
        <label>Requirement ID Found</label>
        <locationX>238</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Update_Modification_with_WhyMinded_Feature_and_Project_Task_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Requirement_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Modification_s_Requirement_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Requirement_s_WM_ID</targetReference>
            </connector>
            <label>Yes, Requirement ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Feature_Found</name>
        <label>Salesforce Feature Found</label>
        <locationX>289</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Get_Modification_s_Requirement_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Feature_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Modification_s_Feature_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Feature_s_WM_ID</targetReference>
            </connector>
            <label>Yes, Feature Found</label>
        </rules>
    </decisions>
    <interviewLabel>WhyMinded Email to Case Handler - DO NOT DELETE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhyMinded Email to Case Handler - DO NOT DELETE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Feature_from_Why_Minded</name>
        <label>Create New Feature from Why Minded</label>
        <locationX>1554</locationX>
        <locationY>228</locationY>
        <assignRecordIdToReference>varCreatedSalesforceFeatureRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Client_to_WhyMinded_E2C_for_Feature</targetReference>
        </connector>
        <inputAssignments>
            <field>Brief_Description__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Delivery_Date__c</field>
            <value>
                <elementReference>varExpectedDeliveryDateFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Date__c</field>
            <value>
                <elementReference>varImplementationDateFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedIDfromPB</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Feature__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Question_from_Why_Minded</name>
        <label>Create New Question from Why Minded</label>
        <locationX>922</locationX>
        <locationY>331</locationY>
        <assignRecordIdToReference>varCreatedSalesforceQuestionRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Client_to_WhyMinded_E2C_for_Question</targetReference>
        </connector>
        <inputAssignments>
            <field>Question_Details__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Summary__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Details__c</field>
            <value>
                <elementReference>varResponseDetailFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Summary__c</field>
            <value>
                <elementReference>varResponseSummaryFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Video_Link__c</field>
            <value>
                <elementReference>varResponseVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Requirement__c</field>
            <value>
                <elementReference>varClientRequirementIDromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varStatusFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedIDfromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_Project_Task_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedProjectTaskID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_Requirement_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedRequirementID</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Requirement_from_Why_Minded</name>
        <label>Create New Requirement from Why Minded</label>
        <locationX>1081</locationX>
        <locationY>499</locationY>
        <assignRecordIdToReference>varCreatedSalesforceRequirementRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Client_to_WhyMinded_E2C_for_Requirement</targetReference>
        </connector>
        <inputAssignments>
            <field>Acceptance_Date__c</field>
            <value>
                <elementReference>varAcceptanceDateFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brief_Description__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Feature__c</field>
            <value>
                <elementReference>varParentFeatureID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varRequirementStatusFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedIDfromPB</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Requirement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Salesforce_Modification</name>
        <label>Create Salesforce Modification</label>
        <locationX>520</locationX>
        <locationY>585</locationY>
        <assignRecordIdToReference>varCreatedModificationID</assignRecordIdToReference>
        <connector>
            <targetReference>Client_to_WhyMinded_E2C_for_Modification</targetReference>
        </connector>
        <inputAssignments>
            <field>Brief_Description__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brief_Notes__c</field>
            <value>
                <elementReference>varBriefNotesFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Feature__c</field>
            <value>
                <elementReference>varClientFeatureID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Requirement__c</field>
            <value>
                <elementReference>varClientRequirementIDromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varStatusFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Modification_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedIDfromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Project_Task_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedProjectTaskID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Requirement_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedRequirementID</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Modification_Request__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Feature</name>
        <label>Delete Feature</label>
        <locationX>1864</locationX>
        <locationY>102</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClientFeatureID</elementReference>
            </value>
        </filters>
        <object>Salesforce_Feature__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Requirement</name>
        <label>Delete Requirement</label>
        <locationX>1287</locationX>
        <locationY>309</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequirementIDfromPB</elementReference>
            </value>
        </filters>
        <object>Salesforce_Requirement__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Feature_s_WM_ID</name>
        <label>Get Feature&apos;s WM ID</label>
        <locationX>139</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WM_Requirement_Variable_to_Update_SF_Modification_before_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Modification_s_Feature_ID.Salesforce_Feature__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Feature__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhyMinded_ID_18_digit__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Modification_s_Feature_ID</name>
        <label>Get Modification&apos;s Feature ID</label>
        <locationX>498</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Salesforce_Feature_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModificationIDfromPB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Salesforce_Feature__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Modification_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salesforce_Feature__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Modification_s_Requirement_ID</name>
        <label>Get Modification&apos;s Requirement ID</label>
        <locationX>389</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requirement_ID_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModificationIDfromPB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Salesforce_Requirement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Modification_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salesforce_Requirement__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requirement_s_WM_ID</name>
        <label>Get Requirement&apos;s WM ID</label>
        <locationX>62</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WM_Requirement_Variable_to_Update_SF_Modification_before_Email_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Modification_s_Requirement_ID.Salesforce_Requirement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Requirement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhyMinded_ID_18_digit__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Feature</name>
        <label>Update Client Feature</label>
        <locationX>1720</locationX>
        <locationY>173</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClientFeatureID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brief_Description__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Delivery_Date__c</field>
            <value>
                <elementReference>varExpectedDeliveryDateFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Date__c</field>
            <value>
                <elementReference>varImplementationDateFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Feature__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Modification</name>
        <label>Update Modification</label>
        <locationX>470</locationX>
        <locationY>286</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModificationIDfromPB</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brief_Description__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brief_Notes__c</field>
            <value>
                <elementReference>varBriefNotesFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Feature__c</field>
            <value>
                <elementReference>varClientFeatureID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Requirement__c</field>
            <value>
                <elementReference>varClientRequirementIDromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varStatusFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Modification_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedIDfromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Project_Task_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedProjectTaskID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Requirement_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedRequirementID</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Modification_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Modification_with_WhyMinded_Feature_and_Project_Task_ID</name>
        <label>Update Modification with WhyMinded Feature and Project Task ID</label>
        <locationX>206</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Client_to_WhyMinded_E2C_for_Modification_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModificationIDfromPB</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WM_Project_Task_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedProjectTaskID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WM_Requirement_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedRequirementID</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Modification_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Question_from_Why_Minded</name>
        <label>Update Question from Why Minded</label>
        <locationX>994</locationX>
        <locationY>311</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClientQuestionIDfromPB</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Question_Details__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Summary__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Details__c</field>
            <value>
                <elementReference>varResponseDetailFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Summary__c</field>
            <value>
                <elementReference>varResponseSummaryFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Video_Link__c</field>
            <value>
                <elementReference>varResponseVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varStatusFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedIDfromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_Project_Task_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedProjectTaskID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyMinded_Requirement_ID_18_digit__c</field>
            <value>
                <elementReference>varWhyMindedRequirementID</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Question__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Salesforce_Requirement</name>
        <label>Update Salesforce Requirement</label>
        <locationX>1183</locationX>
        <locationY>395</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequirementIDfromPB</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acceptance_Date__c</field>
            <value>
                <elementReference>varAcceptanceDateFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brief_Description__c</field>
            <value>
                <elementReference>varBriefDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>varFullDescriptionFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varRequirementStatusFromPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>varVideoLinkFromPB</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Requirement__c</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Purpose_String_from_PB</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAcceptanceDateFromPB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBriefDescriptionFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBriefNotesFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClientFeatureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClientModificationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClientQuestionIDfromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClientRequirementIDromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedModificationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedSalesforceFeatureRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedSalesforceQuestionRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedSalesforceRequirementRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeleteClientFeature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDeleteClientRequirement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExpectedDeliveryDateFromPB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFeatureIDfromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFullDescriptionFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varImplementationDateFromPB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varModificationIDfromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentFeatureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentRequirementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPurposeStringFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuestionIDfromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequirementIDfromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequirementStatusFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResolvedBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResponseDetailFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResponseSummaryFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResponseVideoLinkFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatusFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVideoLinkFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWhyMindedIDfromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWhyMindedProjectTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWhyMindedRequirementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
