force-app/unpackaged/flows/WhyMinded_Client_Email_to_Case_Converter_DO_NOT_DELETE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>WhyMinded Email to Case Handler - DO NOT DELETE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Launch Flow to Convert Case to Record</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>wmc__WhyMinded_Email_to_Case_Handler_DO_NOT_DELETE</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPurposeStringFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varPurposeStringFromPB</name>
            <value>
                <stringValue>Create_Edit_Requirement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varBriefDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varBriefDescriptionFromPB</name>
            <value>
                <elementReference>formula_12_myRule_11_A1_6636947673</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varVideoLinkFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varVideoLinkFromPB</name>
            <value>
                <elementReference>formula_13_myRule_11_A1_2879071166</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varFullDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varFullDescriptionFromPB</name>
            <value>
                <elementReference>formula_14_myRule_11_A1_4617708981</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varWhyMindedIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varWhyMindedIDfromPB</name>
            <value>
                <elementReference>formula_15_myRule_11_A1_7366195985</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequirementStatusFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequirementStatusFromPB</name>
            <value>
                <elementReference>formula_16_myRule_11_A1_3425073178</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varAcceptanceDateFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varAcceptanceDateFromPB</name>
            <value>
                <elementReference>formula_17_myRule_11_A1_0827524039</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varParentFeatureID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varParentFeatureID</name>
            <value>
                <elementReference>formula_18_myRule_11_A1_5057622325</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequirementIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequirementIDfromPB</name>
            <value>
                <elementReference>formula_19_myRule_11_A1_3106924363</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varDeleteClientRequirement</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varDeleteClientRequirement</name>
            <value>
                <elementReference>formula_20_myRule_11_A1_9457237581</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>WhyMinded Email to Case Handler - DO NOT DELETE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Launch Flow to Convert Case to Record</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>wmc__WhyMinded_Email_to_Case_Handler_DO_NOT_DELETE</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varWhyMindedIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varWhyMindedIDfromPB</name>
            <value>
                <elementReference>formula_2_myRule_1_A1_4436439196</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varBriefDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varBriefDescriptionFromPB</name>
            <value>
                <elementReference>formula_3_myRule_1_A1_8963938788</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varFullDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varFullDescriptionFromPB</name>
            <value>
                <elementReference>formula_4_myRule_1_A1_1415455700</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varVideoLinkFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varVideoLinkFromPB</name>
            <value>
                <elementReference>formula_5_myRule_1_A1_6747521285</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPurposeStringFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varPurposeStringFromPB</name>
            <value>
                <stringValue>Create_Edit_Feature</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varExpectedDeliveryDateFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varExpectedDeliveryDateFromPB</name>
            <value>
                <elementReference>formula_6_myRule_1_A1_2993109918</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varImplementationDateFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varImplementationDateFromPB</name>
            <value>
                <elementReference>formula_7_myRule_1_A1_6506863489</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varClientFeatureID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varClientFeatureID</name>
            <value>
                <elementReference>formula_8_myRule_1_A1_6083551129</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varDeleteClientFeature</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varDeleteClientFeature</name>
            <value>
                <elementReference>formula_9_myRule_1_A1_9573135413</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>WhyMinded Email to Case Handler - DO NOT DELETE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>Launch Flow to Convert Case to Record</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <actionName>wmc__WhyMinded_Email_to_Case_Handler_DO_NOT_DELETE</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPurposeStringFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varPurposeStringFromPB</name>
            <value>
                <stringValue>Create_Edit_Question</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varBriefDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varBriefDescriptionFromPB</name>
            <value>
                <elementReference>formula_23_myRule_22_A1_8981039170</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varVideoLinkFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varVideoLinkFromPB</name>
            <value>
                <elementReference>formula_24_myRule_22_A1_5855277750</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varFullDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varFullDescriptionFromPB</name>
            <value>
                <elementReference>formula_25_myRule_22_A1_6404240276</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varWhyMindedIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varWhyMindedIDfromPB</name>
            <value>
                <elementReference>formula_26_myRule_22_A1_7362217368</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varClientRequirementIDromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varClientRequirementIDromPB</name>
            <value>
                <elementReference>formula_27_myRule_22_A1_4520484569</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varClientQuestionIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varClientQuestionIDfromPB</name>
            <value>
                <elementReference>formula_28_myRule_22_A1_7775592444</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varResponseSummaryFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varResponseSummaryFromPB</name>
            <value>
                <elementReference>formula_29_myRule_22_A1_4392374574</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varResponseVideoLinkFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varResponseVideoLinkFromPB</name>
            <value>
                <elementReference>formula_30_myRule_22_A1_8177927174</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varResponseDetailFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varResponseDetailFromPB</name>
            <value>
                <elementReference>formula_31_myRule_22_A1_5976077697</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>WhyMinded Email to Case Handler - DO NOT DELETE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Launch Flow to Convert E2C for Modification</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>wmc__WhyMinded_Email_to_Case_Handler_DO_NOT_DELETE</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varBriefDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varBriefDescriptionFromPB</name>
            <value>
                <elementReference>formula_34_myRule_33_A1_2189091329</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varVideoLinkFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varVideoLinkFromPB</name>
            <value>
                <elementReference>formula_35_myRule_33_A1_0704726988</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varFullDescriptionFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varFullDescriptionFromPB</name>
            <value>
                <elementReference>formula_36_myRule_33_A1_6664451133</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varWhyMindedIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varWhyMindedIDfromPB</name>
            <value>
                <elementReference>formula_37_myRule_33_A1_2728799672</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPurposeStringFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varPurposeStringFromPB</name>
            <value>
                <stringValue>Create_Edit_Modification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varModificationIDfromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varModificationIDfromPB</name>
            <value>
                <elementReference>formula_38_myRule_33_A1_4861542318</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varWhyMindedProjectTaskID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varWhyMindedProjectTaskID</name>
            <value>
                <elementReference>formula_39_myRule_33_A1_9284945329</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varWhyMindedRequirementID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varWhyMindedRequirementID</name>
            <value>
                <elementReference>formula_40_myRule_33_A1_3996777324</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varStatusFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varStatusFromPB</name>
            <value>
                <elementReference>formula_41_myRule_33_A1_3315400339</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varBriefNotesFromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varBriefNotesFromPB</name>
            <value>
                <elementReference>formula_42_myRule_33_A1_2402505753</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varClientRequirementIDromPB</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varClientRequirementIDromPB</name>
            <value>
                <elementReference>formula_43_myRule_33_A1_3551409336</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varClientFeatureID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varClientFeatureID</name>
            <value>
                <elementReference>formula_44_myRule_33_A1_6181692315</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>x_Project_Task_ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Web Case Starting with Project Task ID</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>x_Requirement_ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Web Case Starting with Requirement ID</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>x_Question_ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>Web Case Starting with Question ID</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>x_Modification_ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>Web Case Starting with Modification ID</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Brief_Description:&quot;, [Case].Description)+21, FIND(&quot;x_Video_Link:&quot;, [Case].Description)-(FIND(&quot;x_Brief_Description:&quot;, [Case].Description)+21))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A1_6636947673</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})+21, FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})+21))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Video_Link:&quot;, [Case].Description)+14, FIND(&quot;x_Full_Description:&quot;, [Case].Description)-(FIND(&quot;x_Video_Link:&quot;, [Case].Description)+14))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_11_A1_2879071166</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})+14, FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})+14))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Full_Description:&quot;, [Case].Description)+20, FIND(&quot;x_Status:&quot;, [Case].Description)-(FIND(&quot;x_Full_Description:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_11_A1_4617708981</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_Status:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Requirement_ID:&quot;, [Case].Description)+18, FIND(&quot;x_Brief_Description:&quot;, [Case].Description)-(FIND(&quot;x_Requirement_ID:&quot;, [Case].Description)+18))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_11_A1_7366195985</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Requirement_ID:&quot;, {!myVariable_current.Description})+18, FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Requirement_ID:&quot;, {!myVariable_current.Description})+18))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Status:&quot;, [Case].Description)+10, FIND(&quot;x_Acceptance_Date:&quot;, [Case].Description)-(FIND(&quot;x_Status:&quot;, [Case].Description)+10))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_11_A1_3425073178</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Status:&quot;, {!myVariable_current.Description})+10, FIND(&quot;x_Acceptance_Date:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Status:&quot;, {!myVariable_current.Description})+10))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE(
VALUE(RIGHT(MID([Case].Description, FIND(&quot;x_Acceptance_Date:&quot;, [Case].Description)+19, FIND(&quot;x_Acceptance_Month:&quot;, [Case].Description)-(FIND(&quot;x_Acceptance_Date:&quot;, [Case].Description)+19)),4)),

VALUE(MID([Case].Description, FIND(&quot;x_Acceptance_Month:&quot;, [Case].Description)+20,2)),

VALUE(MID([Case].Description, FIND(&quot;x_Acceptance_Day:&quot;, [Case].Description)+18, 2))
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_11_A1_0827524039</name>
        <dataType>Date</dataType>
        <expression>DATE(
VALUE(RIGHT(MID({!myVariable_current.Description}, FIND(&quot;x_Acceptance_Date:&quot;, {!myVariable_current.Description})+19, FIND(&quot;x_Acceptance_Month:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Acceptance_Date:&quot;, {!myVariable_current.Description})+19)),4)),

VALUE(MID({!myVariable_current.Description}, FIND(&quot;x_Acceptance_Month:&quot;, {!myVariable_current.Description})+20,2)),

VALUE(MID({!myVariable_current.Description}, FIND(&quot;x_Acceptance_Day:&quot;, {!myVariable_current.Description})+18, 2))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Feature_ID:&quot;, [Case].Description)+21, FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)-(FIND(&quot;x_Client_Feature_ID:&quot;, [Case].Description)+21))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_11_A1_5057622325</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Feature_ID:&quot;, {!myVariable_current.Description})+21, FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Feature_ID:&quot;, {!myVariable_current.Description})+21))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)+25, FIND(&quot;x_Delete_Client_Requirement:&quot;, [Case].Description)-(FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)+25))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_11_A1_3106924363</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})+25, FIND(&quot;x_Delete_Client_Requirement:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})+25))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(MID([Case].Description, FIND(&quot;x_Delete_Client_Requirement:&quot;, [Case].Description)+29, FIND(&quot;x_ENDTRANS&quot;, [Case].Description)-(FIND(&quot;x_Delete_Client_Requirement:&quot;, [Case].Description)+29))=&quot;1&quot;, True, False)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_11_A1_9457237581</name>
        <dataType>Boolean</dataType>
        <expression>IF(MID({!myVariable_current.Description}, FIND(&quot;x_Delete_Client_Requirement:&quot;, {!myVariable_current.Description})+29, FIND(&quot;x_ENDTRANS&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Delete_Client_Requirement:&quot;, {!myVariable_current.Description})+29))=&quot;1&quot;, True, False)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Question_Summary:&quot;, [Case].Description)+20, FIND(&quot;x_Question_Video_Link:&quot;, [Case].Description)-(FIND(&quot;x_Question_Summary:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_22_A1_8981039170</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Question_Summary:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_Question_Video_Link:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Question_Summary:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Question_Video_Link:&quot;, [Case].Description)+23, FIND(&quot;x_Question_Details:&quot;, [Case].Description)-(FIND(&quot;x_Question_Video_Link:&quot;, [Case].Description)+23))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_22_A1_5855277750</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Question_Video_Link:&quot;, {!myVariable_current.Description})+23, FIND(&quot;x_Question_Details:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Question_Video_Link:&quot;, {!myVariable_current.Description})+23))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Question_Details:&quot;, [Case].Description)+20, FIND(&quot;x_Requirement_ID:&quot;, [Case].Description)-(FIND(&quot;x_Question_Details:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_22_A1_6404240276</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Question_Details:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_Requirement_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Question_Details:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Question_ID:&quot;, [Case].Description)+15, FIND(&quot;x_Question_Summary:&quot;, [Case].Description)-(FIND(&quot;x_Question_ID:&quot;, [Case].Description)+15))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_22_A1_7362217368</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Question_ID:&quot;, {!myVariable_current.Description})+15, FIND(&quot;x_Question_Summary:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Question_ID:&quot;, {!myVariable_current.Description})+15))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)+25, FIND(&quot;x_Client_Question_ID:&quot;, [Case].Description)-(FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)+25))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_22_A1_4520484569</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})+25, FIND(&quot;x_Client_Question_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})+25))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Question_ID:&quot;, [Case].Description)+22, FIND(&quot;x_Response_Summary:&quot;, [Case].Description)-(FIND(&quot;x_Client_Question_ID:&quot;, [Case].Description)+22))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_22_A1_7775592444</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Question_ID:&quot;, {!myVariable_current.Description})+22, FIND(&quot;x_Response_Summary:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Question_ID:&quot;, {!myVariable_current.Description})+22))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Response_Summary:&quot;, [Case].Description)+20, FIND(&quot;x_Response_Video_Link:&quot;, [Case].Description)-(FIND(&quot;x_Response_Summary:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_22_A1_4392374574</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Response_Summary:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_Response_Video_Link:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Response_Summary:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Project_Task_ID:&quot;, [Case].Description)+19, FIND(&quot;x_Brief_Description:&quot;, [Case].Description)-(FIND(&quot;x_Project_Task_ID:&quot;, [Case].Description)+19))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4436439196</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Project_Task_ID:&quot;, {!myVariable_current.Description})+19, FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Project_Task_ID:&quot;, {!myVariable_current.Description})+19))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Response_Video_Link:&quot;, [Case].Description)+23, FIND(&quot;x_Response_Details:&quot;, [Case].Description)-(FIND(&quot;x_Response_Video_Link:&quot;, [Case].Description)+23))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_22_A1_8177927174</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Response_Video_Link:&quot;, {!myVariable_current.Description})+23, FIND(&quot;x_Response_Details:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Response_Video_Link:&quot;, {!myVariable_current.Description})+23))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Response_Details:&quot;, [Case].Description)+20, FIND(&quot;x_ENDTRANS&quot;, [Case].Description)-(FIND(&quot;x_Response_Details:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_22_A1_5976077697</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Response_Details:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_ENDTRANS&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Response_Details:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Brief_Description:&quot;, [Case].Description)+21, FIND(&quot;x_Brief_Notes:&quot;, [Case].Description)-(FIND(&quot;x_Brief_Description:&quot;, [Case].Description)+21))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_34_myRule_33_A1_2189091329</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})+21, FIND(&quot;x_Brief_Notes:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})+21))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Video_Link:&quot;, [Case].Description)+14, FIND(&quot;x_Status:&quot;, [Case].Description)-(FIND(&quot;x_Video_Link:&quot;, [Case].Description)+14))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_35_myRule_33_A1_0704726988</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})+14, FIND(&quot;x_Status:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})+14))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Full_Description:&quot;, [Case].Description)+20, FIND(&quot;x_Client_Modification_ID:&quot;, [Case].Description)-(FIND(&quot;x_Full_Description:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_36_myRule_33_A1_6664451133</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_Client_Modification_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Modification_ID:&quot;, [Case].Description)+19, FIND(&quot;x_Brief_Description:&quot;, [Case].Description)-(FIND(&quot;x_Modification_ID:&quot;, [Case].Description)+19))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_37_myRule_33_A1_2728799672</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Modification_ID:&quot;, {!myVariable_current.Description})+19, FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Modification_ID:&quot;, {!myVariable_current.Description})+19))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Modification_ID:&quot;, [Case].Description)+26, FIND(&quot;x_Project_Task_ID:&quot;, [Case].Description)-(FIND(&quot;x_Client_Modification_ID:&quot;, [Case].Description)+26))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_38_myRule_33_A1_4861542318</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Modification_ID:&quot;, {!myVariable_current.Description})+26, FIND(&quot;x_Project_Task_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Modification_ID:&quot;, {!myVariable_current.Description})+26))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Project_Task_ID:&quot;, [Case].Description)+19, FIND(&quot;x_Requirement_ID:&quot;, [Case].Description)-(FIND(&quot;x_Project_Task_ID:&quot;, [Case].Description)+19))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_39_myRule_33_A1_9284945329</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Project_Task_ID:&quot;, {!myVariable_current.Description})+19, FIND(&quot;x_Requirement_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Project_Task_ID:&quot;, {!myVariable_current.Description})+19))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Brief_Description:&quot;, [Case].Description)+21, FIND(&quot;x_Video_Link:&quot;, [Case].Description)-(FIND(&quot;x_Brief_Description:&quot;, [Case].Description)+21))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_8963938788</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})+21, FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Brief_Description:&quot;, {!myVariable_current.Description})+21))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Requirement_ID:&quot;, [Case].Description)+18, FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)-(FIND(&quot;x_Requirement_ID:&quot;, [Case].Description)+18))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_40_myRule_33_A1_3996777324</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Requirement_ID:&quot;, {!myVariable_current.Description})+18, FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Requirement_ID:&quot;, {!myVariable_current.Description})+18))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Status:&quot;, [Case].Description)+10, FIND(&quot;x_Resolved:&quot;, [Case].Description)-(FIND(&quot;x_Status:&quot;, [Case].Description)+10))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_41_myRule_33_A1_3315400339</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Status:&quot;, {!myVariable_current.Description})+10, FIND(&quot;x_Resolved:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Status:&quot;, {!myVariable_current.Description})+10))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Brief_Notes:&quot;, [Case].Description)+15, FIND(&quot;x_Video_Link:&quot;, [Case].Description)-(FIND(&quot;x_Brief_Notes:&quot;, [Case].Description)+15))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_42_myRule_33_A1_2402505753</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Brief_Notes:&quot;, {!myVariable_current.Description})+15, FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Brief_Notes:&quot;, {!myVariable_current.Description})+15))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)+25, FIND(&quot;x_Client_Feature_ID:&quot;, [Case].Description)-(FIND(&quot;x_Client_Requirement_ID:&quot;, [Case].Description)+25))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_43_myRule_33_A1_3551409336</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})+25, FIND(&quot;x_Client_Feature_ID:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Requirement_ID:&quot;, {!myVariable_current.Description})+25))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Client_Feature_ID:&quot;, [Case].Description)+21, FIND(&quot;x_ENDTRANS&quot;, [Case].Description)-(FIND(&quot;x_Client_Feature_ID:&quot;, [Case].Description)+21))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_44_myRule_33_A1_6181692315</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Client_Feature_ID:&quot;, {!myVariable_current.Description})+21, FIND(&quot;x_ENDTRANS&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Client_Feature_ID:&quot;, {!myVariable_current.Description})+21))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Full_Description:&quot;, [Case].Description)+20, FIND(&quot;x_Estimated_Delivery_Date:&quot;, [Case].Description)-(FIND(&quot;x_Full_Description:&quot;, [Case].Description)+20))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_1415455700</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})+20, FIND(&quot;x_Estimated_Delivery_Date:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})+20))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Video_Link:&quot;, [Case].Description)+14, FIND(&quot;x_Full_Description:&quot;, [Case].Description)-(FIND(&quot;x_Video_Link:&quot;, [Case].Description)+14))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_6747521285</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})+14, FIND(&quot;x_Full_Description:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Video_Link:&quot;, {!myVariable_current.Description})+14))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE(
VALUE(RIGHT(MID([Case].Description, FIND(&quot;x_Estimated_Delivery_Date:&quot;, [Case].Description)+27, FIND(&quot;x_Estimated_Delivery_Month:&quot;, [Case].Description)-(FIND(&quot;x_Estimated_Delivery_Date:&quot;, [Case].Description)+27)),4)),

VALUE(MID([Case].Description, FIND(&quot;x_Estimated_Delivery_Month:&quot;, [Case].Description)+28, 2)),

VALUE(MID([Case].Description, FIND(&quot;x_Estimated_Delivery_Day:&quot;, [Case].Description)+26, 2))
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_2993109918</name>
        <dataType>Date</dataType>
        <expression>DATE(
VALUE(RIGHT(MID({!myVariable_current.Description}, FIND(&quot;x_Estimated_Delivery_Date:&quot;, {!myVariable_current.Description})+27, FIND(&quot;x_Estimated_Delivery_Month:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Estimated_Delivery_Date:&quot;, {!myVariable_current.Description})+27)),4)),

VALUE(MID({!myVariable_current.Description}, FIND(&quot;x_Estimated_Delivery_Month:&quot;, {!myVariable_current.Description})+28, 2)),

VALUE(MID({!myVariable_current.Description}, FIND(&quot;x_Estimated_Delivery_Day:&quot;, {!myVariable_current.Description})+26, 2))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE(
VALUE(RIGHT(MID([Case].Description, FIND(&quot;x_Implementation_Date:&quot;, [Case].Description)+23, FIND(&quot;x_Implementation_Month:&quot;, [Case].Description)-(FIND(&quot;x_Implementation_Date:&quot;, [Case].Description)+23)),4)),

VALUE(MID([Case].Description, FIND(&quot;x_Implementation_Month:&quot;, [Case].Description)+24, 2)),

VALUE(MID([Case].Description, FIND(&quot;x_Implementation_Day:&quot;, [Case].Description)+22, 2))
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_6506863489</name>
        <dataType>Date</dataType>
        <expression>DATE(
VALUE(RIGHT(MID({!myVariable_current.Description}, FIND(&quot;x_Implementation_Date:&quot;, {!myVariable_current.Description})+23, FIND(&quot;x_Implementation_Month:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Implementation_Date:&quot;, {!myVariable_current.Description})+23)),4)),

VALUE(MID({!myVariable_current.Description}, FIND(&quot;x_Implementation_Month:&quot;, {!myVariable_current.Description})+24, 2)),

VALUE(MID({!myVariable_current.Description}, FIND(&quot;x_Implementation_Day:&quot;, {!myVariable_current.Description})+22, 2))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID([Case].Description, FIND(&quot;x_Clients_Feature_ID:&quot;, [Case].Description)+22, FIND(&quot;x_Delete_in_Client_Org:&quot;, [Case].Description)-(FIND(&quot;x_Clients_Feature_ID:&quot;, [Case].Description)+22))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_6083551129</name>
        <dataType>String</dataType>
        <expression>MID({!myVariable_current.Description}, FIND(&quot;x_Clients_Feature_ID:&quot;, {!myVariable_current.Description})+22, FIND(&quot;x_Delete_in_Client_Org:&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Clients_Feature_ID:&quot;, {!myVariable_current.Description})+22))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(MID([Case].Description, FIND(&quot;x_Delete_in_Client_Org:&quot;, [Case].Description)+24, FIND(&quot;x_ENDTRANS&quot;, [Case].Description)-(FIND(&quot;x_Delete_in_Client_Org:&quot;, [Case].Description)+24))=&quot;1&quot;,True, False)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_9573135413</name>
        <dataType>Boolean</dataType>
        <expression>IF(MID({!myVariable_current.Description}, FIND(&quot;x_Delete_in_Client_Org:&quot;, {!myVariable_current.Description})+24, FIND(&quot;x_ENDTRANS&quot;, {!myVariable_current.Description})-(FIND(&quot;x_Delete_in_Client_Org:&quot;, {!myVariable_current.Description})+24))=&quot;1&quot;,True, False)</expression>
    </formulas>
    <interviewLabel>WhyMinded_Client_Email_to_Case_Converter_DO_NOT_DELETE-26_InterviewLabel</interviewLabel>
    <label>WhyMinded Client Email to Case Converter DO NOT DELETE</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
